* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  font-family: sans-serif;
}

@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

.app-container {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: #222;
  color: #eee;
}
